@{
    ViewData["Title"] = "About Us";
}

<div class="container about-page">
    <div class="row text-center border-bottom pb-4 mt-5">
        <h1>About Rihla Travels</h1>
    </div>
    <section class="pt-5">
        <div class="row text-center">
            <h2>Project Description</h2>
         </div>
        <p class="mt-4">
            Rihla Travels is a travel booking application that provides users with a seamless experience for booking flights, hotels, and cars.<br />Our mission is to make travel planning easy, convenient, and enjoyable.
        </p>
    </section>

    <section>
        <h2 class="py-5 text-center">Technologies Used</h2>

        <div class="d-flex justify-content-center">
            <div class="card me-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Frontend</h3>
                    <p class="card-text mt-2">HTML<br />CSS<br />JavaScript<br />Bootstrap Framework</p>
                </div>
            </div>

            <div class="card me-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Backend</h3>
                    <p class="card-text">ASP.NET Core MVC<br />Entity Framework Core</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Database</h3>
                    <p class="card-text">Microsoft SQLite</p>
                </div>
            </div>
        </div>
    </section>

    <section class="justify-content-center">
        <h2 class="py-5 text-center">Developers</h2>

        <div class="row justify-content-center">
            <div class="card-deck px-5">
                <div class="card px-5">
                    <div class="card-body">
                        <h3 class="card-title text-center">Muhammad Taimoor Aleem</h3>
                        <p class="card-text mt-2 text-center"><strong>Project Leader & Front End Developer</strong></p>
                        <p class="card-text">Taimoor took on the role of the Project Manager, guiding the team throughout the development process. His responsibilities included designing the UML Class Diagram and crafting the User Interface using Figma. Notably, Taimoor took charge of the Front-end development, utilizing Bootstrap to create the Landing Page and About Page as well as the shared css file. Additionally, he implemented the CSVImporter functionality and also assisted his teammates in resolving errors within their domain and application layers</p>

                    </div>
                </div>

                <div class="card px-5 my-5">
                    <div class="card-body">
                        <h3 class="card-title text-center">Feras Mahmood</h3>
                        <p class="card-text mt-2 text-center"><strong>Back-End Developer (Flights)</strong></p>
                        <p class="card-text mt-2">Feras took charge of the flight-related aspects of the project. His responsibilities encompassed the development of the Flight and FlightBooking classes, as well as associated controllers, and views. Feras contributed significantly to shaping the logic and user interface for flight-related functionalities.</p>
                    </div>
                </div>

                <div class="card px-5 my-5">
                    <div class="card-body">
                        <h3 class="card-title text-center">Yousef Marai</h3>
                        <p class="card-text">Yousef was responsible for crafting the Hotel and HotelBooking classes, along with the corresponding controllers and views. His expertise in this domain facilitated the creation of a robust and user-friendly system for managing hotel bookings.</p>
                    </div>
                </div>

                <div class="card px-5 my-5">
                    <div class="card-body">
                        <h3 class="card-title text-center">Tauheed Attar</h3>
                        <p class="card-text mt-2">Tauheed focused on the development of the Car and CarBooking classes, along with the corresponding controllers and views. His contributions involved crafting the logic and user interface for car-related functionalities.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
